.menu{
        display: inline-block;
        background-color: rgb(209, 203, 203);
}

.menu .menu-item{
    display: inline-block;
    list-style: none;

}

.menu .menu-item a{
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 12px 12px;
    position: relative;
}

.menu .menu-item a::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 35%;
    right: 0;
    top: 33%;
    background-color: rgb(18, 17, 17);
}
.menu .menu-item:last-child a::before{
    width: 0px;
}